$("#new_comment").html('<div class="alert alert-success">Thank you for your review!</div>');
$('.product-reviews').prepend("<%= j render @comment %>");
$("#average-rating").attr('data-score', "<%= @product.average_rating %>")